html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
}

* {
  margin: 0 auto;
  padding: 0 auto;
}

/*-------------- here ends must have CSS-------------- */

/* utlities */
.text-center {
  text-align: center;
}

/* ************************* */
/* ******** Global **********  */
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h6 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

.main {
  margin-top: 8rem;
  max-width: 100rem;
}

/* --------------- Here ends global css ------------------ */

/* Header */
.name {
  margin-top: 5rem;
  text-align: center;
}

.name span {
  color: #037bc0;

}

.nav-container {
  width: 100%;
  border-top: 1px solid black;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.nav-1 {
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.nav-1 a:hover {
  color: #037bc0;
}

/* ************  here ends Header *********** */

/* Main Blog */
.blog-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 4rem;
}

.articles {
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 4rem;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.articles:last-of-type {
  border-bottom: none;
}

.meta-info {
  display: flex;
  justify-content: space-between;
}

.meta-info p {
  margin: 1rem 0;
  font-weight: 700;
}

.meta-info span {
  color: #037bc0;
}
.article-blog{
  margin: 3rem 0;
}

.btn {
  display: block;
  color: #FFFFFF;
  font-size: 2rem;
  background-color: #8cbc00;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .02rem;
  padding: 2rem;
  margin: 2rem 0;
  text-align: center;
  transition: background-color .3s ease-in-out;
  max-width: 30rem;
}

.btn:hover {
  background-color: #769c02;
}



/* **** here ends the Main ********* */

/* Footer */
.site-footer {
  border-top: .6px solid rgb(190, 190, 190);
  margin-top: 10rem;
}

.footer-container {
  width: 140rem;
  height: 50rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-category nav,
.footer-about nav,
.footer-contact nav {
  display: flex;
  flex-direction: column;
}

.footer-container h3 {
  margin: 4rem 0;
}

.footer-container a {
  margin: 2rem;
  font-size: 2rem;
}

.footer-container a:hover {
  color: #037bc0;
}

.site-footer p {
  width: 100%;
  text-align: center;
  height: 5rem;
  background-color: rgb(51, 49, 49);
  color: #7e7e7e;
  line-height: 5rem;
}

/* ************ here ends footer ************* */